.git
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ipynb_checkpoints
**/.DS_Store

**/logs
**/target
**/*.duckdb
**/*.duckdb.wal

13-data-warehouse-dimensional
14-data-quality-great-expectations
15-dbt-profesional
16-orquestacion-airflow

17-dbt-professional-ecommerce/logs
17-dbt-professional-ecommerce/target
17-dbt-professional-ecommerce/*.duckdb
17-dbt-professional-ecommerce/*.duckdb.wal

18-pipeline-dockerizado-agent-loop/logs
18-pipeline-dockerizado-agent-loop/output/*.json
